<launch>

    <!-- The robot description -->
    <param name="robot_description" textfile="$(find layered_hardware_dynamixel)/urdf/single_dynamixel_example.urdf" />

    <!-- Hardware driver -->
    <node name="example_layered_hardware_node" pkg="layered_hardware" type="layered_hardware_node" output="screen">
        <rosparam>
            control_frequency: 20
            use_expected_period: true
            # upper (controller-side) to bottom (actuator-side)
            layers: [ joint_limits_layer, transmission_layer, dynamixel_actuator_layer ]
            joint_limits_layer:
                type: layered_hardware_extensions/ExtendedJointLimitsLayer
            transmission_layer:
                type: layered_hardware/TransmissionLayer
            dynamixel_actuator_layer:
                type: layered_hardware_dynamixel/DynamixelActuatorLayer
                serial_interface: /dev/ttyUSB0
                baudrate: 1000000
                actuators:
                    dynamixel_actuator:
                        id: 1
                        torque_constant: 2.41
                        operating_mode_map:
                            posvel_controller: extended_position
                            posveleff_controller: current_based_position
                            velocity_controller: velocity
                            effort_controller: current
        </rosparam>
    </node>

    <!-- Controller parameters -->
    <rosparam>
        joint_state_controller:
            type: joint_state_controller/JointStateController
            publish_rate: 20
        posvel_controller:
            type: posvel_controllers/JointPosVelController
            joint: dynamixel_joint
        posveleff_controller:
            type: posveleff_controllers/JointPosVelEffController
            joint: dynamixel_joint
        velocity_controller:
            type: velocity_controllers/JointVelocityController
            joint: dynamixel_joint
        effort_controller:
            type: effort_controllers/JointEffortController
            joint: dynamixel_joint
    </rosparam>

    <!-- Controller starter -->
    <node name="controller_starter" pkg="controller_manager" type="controller_manager" output="screen"
          args="spawn joint_state_controller posvel_controller" />

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load posveleff_controller velocity_controller effort_controller" />

    <!-- joint state msg to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

</launch>